body {
    background-image: url("../images/bg-Dark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 2vh;
    margin:0px;
} 

.bento {
    display: flex;
    align-items: center;
    height: 92vh;
    width: 100vw;
}