.header {
    display: flex;             
    justify-content: space-between; 
    align-items: center;     
    
    width: 100vw;
    height: 8vh;
    padding: 0 30px;          
    box-sizing: border-box;    

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-family: sans-serif;
}

.headerleft {
    display: flex;
    align-items: center;
    gap: 20px; 
}s

.icon {
    font-size: 1.5rem;
    margin: 0;
    cursor: pointer;
}

.navbtn {
    margin: 0;
    font-size: 0.9rem;
    cursor: pointer;
    text-transform: uppercase;
    color: #cccccc;
    transition: color 0.3s;
}

.navbtn:hover {
    color: white;          
}

.headercenter p {
    margin: 0;
    font-size: 0.9rem;
    color: #bbbbbb;
    font-weight: 300;
}

.headerright {
    display: flex;
    align-items: center;
    gap: 10px;
}

.roletext {
    margin: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #bbbbbb;
}

.logoutbtn {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}