{% extends 'layout.html' %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"> 

    <div class="dashboard">
        {% include 'header.html' %}
        <div class="bento">
            <!-- ############## ADMIN ############### -->
            {% if session.get('role') == 'admin' %}
                <div class="divider">
                    {% include 'module_timetable5.html' %}
                    {% include 'module_users.html' %}
                </div>
                <div class="divider">
                    {% include 'module_devices.html' %}
                    {% include 'module_log.html' %}
                </div>

            <!-- ############## marketing ############## -->
            {% elif session.get('role') == 'marketing' %}

                <!-- Timetable module manquant de ligne (créer module timetable14 avec des changements sur le nb de ligne qd le module timetable sera fini )-->
                {% include 'module_timetable5.html' %}

                <div class="divider">
                    {% include 'module_devices.html' %}
                    {% include 'module_upload.html' %}
                </div>
            
            <!-- ############# sales ############ -->
            {% elif session.get('role') == 'sales' %}
                <!-- Timetable module manquant de ligne (créer module timetable14 avec des changements sur le nb de ligne qd le module timetable sera fini )-->
                {% include 'module_timetable5.html' %}

                <div class="divider">
                    {% include 'module_devices.html' %}
                    {% include 'module_upload.html' %}
                </div>
            
            {% endif %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}