{% extends 'layout.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_tables.css') }}"> 

<div class="devices">
    {% include 'header.html' %}
    <div class="bento">
        <div class="divider">
            <div class="divider colored">
                <h1>Current Playlist</h1>
                
                
                {% if selected_playlist %}
                    <h3>Playlist : {{ selected_playlist.name }}</h3>
                    
                    <div class="tabdiv">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Duration</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if files %}
                                    {% for file in files %}
                                        <tr>
                                            <td>{{ file.name }}</td>
                                            <td>{{ file.type_file }}</td>
                                            <td>{{ file.time_length }}</td>
                                            <td class="actions-cell">
                                                <div class="buttons-wrapper">
                                                    <a href="{{ url_for('deleteFileFromPlaylist', nom_orga=orga, playlist_id=selected_playlist.id_playlist, file_id=file.id_file) }}" 
                                                       class="custom-btn btn-red" 
                                                       onclick="return confirm('Confirm deletion?')">
                                                        Delete
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">
                                            No files in this playlist
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3>No playlist selected</h3>
                    <p>
                        Please select a playlist to view and edit its content
                    </p>
                {% endif %}
            </div>   
        </div>
        
        <div class="divider">
            <div class="divider colored">
                <h1>Playlist Choice</h1>

                <form method="POST" action="{{ url_for('choosePlaylist', nom_orga=orga) }}" class="form">
                    <select name="playlist_id" class="btn-design" required>
                        <option value="">-- Choose a playlist --</option>
                        {% for playlist in playlists %}
                            <option value="{{ playlist.id_playlist }}" 
                                {% if selected_playlist and playlist.id_playlist == selected_playlist.id_playlist %}
                                selected
                                {% endif %} >
                                    {{ playlist.name }}
                            </option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn-upload">
                        Choose Playlist
                    </button>
                </form>
            </div>

            {% if selected_playlist %}
                <div class="divider colored">
                    <h1>Upload Song</h1>

                    <form method="POST" action="{{ url_for('addFileToPlaylist', nom_orga=orga, playlist_id=selected_playlist.id_playlist) }}" enctype="multipart/form-data" class="form">
                        <div class="uploadfile">
                            <input type="file" id="file" name="uploadfile" accept=".mp3" class="input-hidden" required>
                            <label for="file" class="btn-design"  id="file-name">
                                Choose file
                            </label>
                        </div>

                        <input type="hidden" id="filename-hidden" name="filename">

                        <select 
                            name="file_type" 
                            class="btn-design">
                            <option value="mp3">Music (MP3)</option>
                            <option value="ad">Advertisement</option>
                        </select>

                        <button type="submit" class="btn-upload">
                            Upload
                        </button>
                    </form>
                </div>
                
                <div class="divider colored">
                    <h1>Misc</h1>

                    <div class="misc">
                        <p>Number of titles: <strong>{{ title_count }}</strong></p>
                        <p>Number of ads: <strong>{{ ads_count }}</strong></p>
                        <p>Last Updated: <strong>{{ selected_playlist.last_update_date }}</strong></p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/edit_playlist.js') }}"></script>


{% endblock %}