{% extends 'layout.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_tables.css') }}">

<div class="divider colored">
    {% include 'header.html' %}
    <div class="bento">
        <div class="divider colored" style="padding: 4vh;">
            <h1>Upload Emergency Message</h1>

            <form method="POST" enctype="multipart/form-data" class="form">
                <div class="uploadfile">
                    <input type="file" id="file" name="uploadfile" accept=".mp3" class="input-hidden" required>
                    <label for="file" class="btn-design"  id="file-name">
                        Choose file
                    </label>
                </div>

                <input type="hidden" id="filename-hidden" name="filename">

                <input name="file_type" class="btn-design" value="Emergency Message" readonly style="border: solid #ccc; background: rgba(255,255,255,0.05); color: #aaa; cursor: not-allowed;">
                    This file will be played instantly as the emergency message
                </input>

                <button type="submit" class="btn-upload">
                    Upload
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}